In [12]:
!pip install binance-connector

Requirement already satisfied: binance-connector in /usr/local/lib/python3.7/dist-packages (1.12.0)
Requirement already satisfied: Twisted>=21.2.0 in /usr/local/lib/python3.7/dist-packages (from binance-connector) (22.4.0)
Requirement already satisfied: autobahn>=21.2.1 in /usr/local/lib/python3.7/dist-packages (from binance-connector) (22.4.2)
Requirement already satisfied: requests>=2.25.1 in /usr/local/lib/python3.7/dist-packages (from binance-connector) (2.27.1)
Requirement already satisfied: pyOpenSSL>=19.0.0 in /usr/local/lib/python3.7/dist-packages (from binance-connector) (22.0.0)
Requirement already satisfied: service-identity>=21.1.0 in /usr/local/lib/python3.7/dist-packages (from binance-connector) (21.1.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from autobahn>=21.2.1->binance-connector) (57.4.0)
Requirement already satisfied: txaio>=21.2.1 in /usr/local/lib/python3.7/dist-packages (from autobahn>=21.2.1->binance-connector) (22.2.1)
Requirement already satisfied: cryptography>=3.4.6 in /usr/local/lib/python3.7/dist-packages (from autobahn>=21.2.1->binance-connector) (37.0.2)
Requirement already satisfied: hyperlink>=21.0.0 in /usr/local/lib/python3.7/dist-packages (from autobahn>=21.2.1->binance-connector) (21.0.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography>=3.4.6->autobahn>=21.2.1->binance-connector) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography>=3.4.6->autobahn>=21.2.1->binance-connector) (2.21)
Requirement already satisfied: idna>=2.5 in /usr/local/lib/python3.7/dist-packages (from hyperlink>=21.0.0->autobahn>=21.2.1->binance-connector) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.1->binance-connector) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.1->binance-connector) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.1->binance-connector) (2.0.12)
Requirement already satisfied: pyasn1-modules in /usr/local/lib/python3.7/dist-packages (from service-identity>=21.1.0->binance-connector) (0.2.8)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from service-identity>=21.1.0->binance-connector) (1.15.0)
Requirement already satisfied: pyasn1 in /usr/local/lib/python3.7/dist-packages (from service-identity>=21.1.0->binance-connector) (0.4.8)
Requirement already satisfied: attrs>=19.1.0 in /usr/local/lib/python3.7/dist-packages (from service-identity>=21.1.0->binance-connector) (21.4.0)
Requirement already satisfied: zope.interface>=4.4.2 in /usr/local/lib/python3.7/dist-packages (from Twisted>=21.2.0->binance-connector) (5.4.0)
Requirement already satisfied: typing-extensions>=3.6.5 in /usr/local/lib/python3.7/dist-packages (from Twisted>=21.2.0->binance-connector) (4.2.0)
Requirement already satisfied: incremental>=21.3.0 in /usr/local/lib/python3.7/dist-packages (from Twisted>=21.2.0->binance-connector) (21.3.0)
Requirement already satisfied: constantly>=15.1 in /usr/local/lib/python3.7/dist-packages (from Twisted>=21.2.0->binance-connector) (15.1.0)
Requirement already satisfied: Automat>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from Twisted>=21.2.0->binance-connector) (20.2.0)

In [13]:
from binance.spot import Spot as Client
import pandas as pd

In [14]:
spot_client = Client(base_url="https://api.binance.com")
data = spot_client.klines("ADAUSDT", "1m", limit=1000)
df = pd.DataFrame(data)

In [15]:
df

,0,1,2,3,4,5,6,7,8,9,10,11
0,1652520540000,0.53060000,0.53100000,0.52960000,0.53010000,154768.40000000,1652520599999,82082.73663000,300,61195.30000000,32463.57360000,0
1,1652520600000,0.53010000,0.53040000,0.52880000,0.52880000,140528.60000000,1652520659999,74436.91835000,279,47589.90000000,25211.54141000,0
2,1652520660000,0.52880000,0.52960000,0.52770000,0.52780000,139925.00000000,1652520719999,73983.51391000,272,45542.50000000,24085.39196000,0
3,1652520720000,0.52780000,0.52860000,0.52680000,0.52700000,375538.90000000,1652520779999,198106.50350000,707,196830.50000000,103836.63670000,0
4,1652520780000,0.52700000,0.52780000,0.52570000,0.52750000,248276.20000000,1652520839999,130743.91839000,483,121247.50000000,63845.47156000,0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,1652580240000,0.52930000,0.53050000,0.52930000,0.53040000,103151.90000000,1652580299999,54687.99616000,167,78285.20000000,41503.57786000,0
996,1652580300000,0.53050000,0.53120000,0.53010000,0.53010000,105788.90000000,1652580359999,56156.09361000,181,29689.70000000,15760.36066000,0
997,1652580360000,0.53010000,0.53030000,0.52970000,0.52990000,16555.80000000,1652580419999,8773.06469000,66,5979.60000000,3168.54468000,0
998,1652580420000,0.52990000,0.52990000,0.52930000,0.52970000,28490.20000000,1652580479999,15091.83480000,68,9501.50000000,5032.87565000,0
999,1652580480000,0.52970000,0.52970000,0.52960000,0.52960000,2355.70000000,1652580539999,1247.67205000,12,352.90000000,186.89584000,0

In [16]:
df[0]=(pd.to_datetime(df[0],unit='ms'))

In [17]:
df.drop(6, axis=1, inplace=True)
df.drop(7, axis=1, inplace=True)
df.drop(8, axis=1, inplace=True)
df.drop(9, axis=1, inplace=True)
df.drop(10, axis=1, inplace=True)
df.drop(11, axis=1, inplace=True)

In [18]:
df.columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume']

In [19]:
df

,Date,Open,High,Low,Close,Volume
0,2022-05-14 09:29:00,0.53060000,0.53100000,0.52960000,0.53010000,154768.40000000
1,2022-05-14 09:30:00,0.53010000,0.53040000,0.52880000,0.52880000,140528.60000000
2,2022-05-14 09:31:00,0.52880000,0.52960000,0.52770000,0.52780000,139925.00000000
3,2022-05-14 09:32:00,0.52780000,0.52860000,0.52680000,0.52700000,375538.90000000
4,2022-05-14 09:33:00,0.52700000,0.52780000,0.52570000,0.52750000,248276.20000000
...,...,...,...,...,...,...
995,2022-05-15 02:04:00,0.52930000,0.53050000,0.52930000,0.53040000,103151.90000000
996,2022-05-15 02:05:00,0.53050000,0.53120000,0.53010000,0.53010000,105788.90000000
997,2022-05-15 02:06:00,0.53010000,0.53030000,0.52970000,0.52990000,16555.80000000
998,2022-05-15 02:07:00,0.52990000,0.52990000,0.52930000,0.52970000,28490.20000000
999,2022-05-15 02:08:00,0.52970000,0.52970000,0.52960000,0.52960000,2355.70000000

In [20]:
## Fine

In [21]:
## Formula SMA

$$SMA = \frac{\sum_{i=1}^{N}Pi}{N}$$