In [ ]:
!pip install binance-connector

In [28]:
from binance.spot import Spot as Client
import pandas as pd

In [29]:
spot_client = Client(base_url="https://api.binance.com")
data = spot_client.klines("ADAUSDT", "1m", limit=1000)
df = pd.DataFrame(data)

In [30]:
df

,0,1,2,3,4,5,6,7,8,9,10,11
0,1652398380000,0.47140000,0.47490000,0.47110000,0.47230000,335603.50000000,1652398439999,158835.03152000,420,166252.40000000,78642.10481000,0
1,1652398440000,0.47230000,0.47400000,0.47190000,0.47380000,133974.20000000,1652398499999,63353.43020000,234,59491.20000000,28132.13860000,0
2,1652398500000,0.47380000,0.47530000,0.47240000,0.47420000,429982.50000000,1652398559999,203758.66429000,400,175256.90000000,83090.48398000,0
3,1652398560000,0.47420000,0.47560000,0.47390000,0.47390000,172593.00000000,1652398619999,81944.84406000,238,106213.70000000,50444.58357000,0
4,1652398620000,0.47390000,0.47460000,0.47300000,0.47400000,124659.20000000,1652398679999,59055.65602000,166,56730.80000000,26866.06754000,0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,1652458080000,0.57720000,0.57820000,0.57470000,0.57510000,220037.20000000,1652458139999,126853.03945000,521,103685.50000000,59785.20447000,0
996,1652458140000,0.57530000,0.57680000,0.57410000,0.57680000,99478.20000000,1652458199999,57208.51702000,248,41647.20000000,23965.52638000,0
997,1652458200000,0.57680000,0.57960000,0.57570000,0.57640000,338914.10000000,1652458259999,195801.41959000,625,138514.10000000,80080.77450000,0
998,1652458260000,0.57650000,0.57800000,0.57490000,0.57760000,102287.90000000,1652458319999,58916.61115000,250,57432.50000000,33085.68441000,0
999,1652458320000,0.57750000,0.57950000,0.57700000,0.57770000,114987.70000000,1652458379999,66495.63246000,266,60618.60000000,35043.22953000,0

In [31]:
df[0]=(pd.to_datetime(df[0],unit='ms'))

In [32]:
df.drop(6, axis=1, inplace=True)
df.drop(7, axis=1, inplace=True)
df.drop(8, axis=1, inplace=True)
df.drop(9, axis=1, inplace=True)
df.drop(10, axis=1, inplace=True)
df.drop(11, axis=1, inplace=True)

In [33]:
df.columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume']

In [34]:
df

,Data,Open,High,Low,Close,Volume
0,2022-05-12 23:33:00,0.47140000,0.47490000,0.47110000,0.47230000,335603.50000000
1,2022-05-12 23:34:00,0.47230000,0.47400000,0.47190000,0.47380000,133974.20000000
2,2022-05-12 23:35:00,0.47380000,0.47530000,0.47240000,0.47420000,429982.50000000
3,2022-05-12 23:36:00,0.47420000,0.47560000,0.47390000,0.47390000,172593.00000000
4,2022-05-12 23:37:00,0.47390000,0.47460000,0.47300000,0.47400000,124659.20000000
...,...,...,...,...,...,...
995,2022-05-13 16:08:00,0.57720000,0.57820000,0.57470000,0.57510000,220037.20000000
996,2022-05-13 16:09:00,0.57530000,0.57680000,0.57410000,0.57680000,99478.20000000
997,2022-05-13 16:10:00,0.57680000,0.57960000,0.57570000,0.57640000,338914.10000000
998,2022-05-13 16:11:00,0.57650000,0.57800000,0.57490000,0.57760000,102287.90000000
999,2022-05-13 16:12:00,0.57750000,0.57950000,0.57700000,0.57770000,114987.70000000

In [1]:
## Fine